html {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Color Palettes */
/* Essence of winter*/
/* Sandpaper */
/* Blood n Guts */

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #ede5d9;
    color: #333;
    /* align vertically*/
    align-items: center;
    /*justify horizontally*/
    justify-items: center;
}

/* Game Container */
#game-container {
    margin-top: 1rem;
    box-shadow: 0 0 1rem #8d0000;
    width: 89vw;
    height: 55vw;
    aspect-ratio: 1.618;
    border-radius: .6vw;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(15, 1fr);
    /* grid-template-rows: repeat(auto-fit, minmax(1vw, 100%));
    grid-template-columns: repeat(auto-fit, 100%); */
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: #1d0000;
    color: #ffdada;

}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

/* date-time-grid */
.date-time-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* date and time blocks */
#date-block, #time-block {
    font-family: 'Courier New', Courier, monospace;
    height: fit-content;
    width: fit-content;
    aspect-ratio: 1.618;
    border-color: #02192e;
    border-style: solid;
    border-width: .2rem;
    background-color: #154672;
    padding: .5rem;
    color: #cfe2f3;
}

/* Prompts */
.prompt {
    aspect-ratio: 1.618;
    margin: .3vw;
    border: .3vw solid #4b0000;
    padding: .5rem;
    overflow-y: scroll;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: start;
}

::-webkit-scrollbar {
    width: .3vw;
}


::-webkit-scrollbar-thumb {
    background-color: #4b0000;
}

/* Sentences */
.sent {
    /* aspect-ratio: 1.618; */
    height: min-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    font-size: 1.8vw;
}

/* Words */
.word {
    width: min-content;
    height: min-content;
    margin-right: .6rem;
    display: flex;
}


textarea {
    min-height: 2rem;
    min-width: 4rem;
    height: min-content;
    width: min-content;
    aspect-ratio: 1.618;
    text-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    padding: .5rem;
    border: .2rem solid #4b0000;
    border-radius: .3rem;
    background-color: #1d0000;
    color: #ff9191;
    grid-area: i;
}

textarea:focus {
    outline: none;
    border-color: #8d0000;
    box-shadow: 0 0 1rem #8d0000;
    background-color: #2b0000;
    color: #ffdada
}

/* Style for the correct class */
.correct {
    color: #28a745; /* Green for correct words */
}
/* Style for the incorrect class */
.incorrect {
    color: #dc3545; /* Red for incorrect words */
}

.hidden {
    display: none;
}

/* Style for game info */
.game-info {
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    flex: 1 1 0%;
}

/* Style for the game status */
#game-status {
    font-size: 18px;
    font-weight: bold;
    color: #6f0707;
    background-color: #ff5c5c;
}

/* Style for scene0 */
.scene0 {
    grid-template-areas: 
    "a a a a b b b b b b b e e e e"
    "a a a a b b b b b b b e e e e"
    "a a a a b b b b b b b e e e e"
    "a a a a b b b b b b b e e e e"
    "a a a a c c c c c c c e e e e"
    "a a a a c c c c c c c e e e e"
    "a a a a c c c c c c c e e e e"
    "g g g g g g i i i f f f f f f"
    "g g g g g g i i i f f f f f f"
    ;
}

.xSPrompt {
    /*Max 30 words*/
    grid-template-areas:
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "e e e e e e e e e e e e e e e"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "x x x x x x x x x x x x x x x"
}

.xSPrompt.complete {
    grid-template-areas:
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "o o o o o o o o o o o o o o o"
    "o o o o o o o o o o o o o o o"
    "i i i i i i i i i i i i i i i"
    "i i i i i i i i i i i i i i i"
    ;

}

.smallPrompt {
    /*Max 60 words*/
    grid-template-areas: 
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "e e e e e e e e e e e e e e e"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "x x x x x x x x x x x x x x x"
    ;
}

.medPrompt {
    /*Max 100 words*/
    grid-template-areas: 
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "e e e e e e e e e e e e e e e"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "x x x x x x x x x x x x x x x"
    ;
}

.largePrompt {
    /*Max 160 words*/
    grid-template-areas:
    "p p p p p p p p p p p p p p p"
    "p p p p p p p p p p p p p p p"
    "e e e e e e e e e e e e e e e"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "x x x x x x x x x x x x x x x"
}

.xLPrompt {
    /*Fits 230 words*/
    grid-template-areas:
    "p p p p p p p p p p p p p p p"
    "e e e e e e e e e e e e e e e"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "a a a a a a a a a a a a a a a"
    "x x x x x x x x x x x x x x x"
}


.complete {
    grid-template-areas: 
    "x x p p p p p p p p p p w w w"
    "x x p p p p p p p p p p w w w"
    "x x p p p p p p p p p p w w w"
    "x x p p p p p p p p p p w w w"
    "x x p p p p p p p p p p w w w"
    "o o o o o o o o o o o o o o o"
    "o o o o o o o o o o o o o o o"
    "i i i i i i i i i i i i i i i"
    "i i i i i i i i i i i i i i i"
    ;
}

.previouslyComplete {
    grid-area: p;
    max-height: 100%;
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
    overflow-y: scroll;
    justify-items: center;
}

.prompt.current {
    grid-area: a;
}
.options {
    width: fit-content;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    justify-content: center;
    grid-area: o;
    overflow-x: scroll;
}
