/* Basic styles for the game */
body {
    /* fill the viewport */
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Style for the header */
.header {
    background-color: #e8ffe9;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

/* Style for date and time display */
.date-time-grid {
    font-size: 20px;
    height: 3em;
    width: 66vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 0px;
}
/* Style for date and time display */
#date-block, #time-block {
    /* Style font for date and time display */
    font-family: 'Courier New', Courier, monospace;
    color: #98ff79;
    background-color: #04310285;
    border-color: #073705;
    border-style: solid;
    border-width: 0.2em;
    /* Center text */
    text-align: center;
    padding: 0.7em;
}

.game-container {
    width: 90vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex: 2 1 auto;
    display: grid;
}

/* Style for buttons */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* Style for start game button */
#start-game {
    background-color: #28a745;
}

#pause-game {
    display: none; /* Initially hidden */
    background-color: #ffc107;
}

#reset-game {
    display: none; /* Initially hidden */
    background-color: #dc3545;
}

/* Style for continue game button */
#continue-game {
    display: none; /* Initially hidden */
    background-color: #17a2b8;
}
/* input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
} */

/* style input placeholder text */
input::placeholder {
    color: #33ff00;
    font-style: italic;
    font-size: 32px;
}

/* Style for game info */
.game-info {
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    flex: 1 1 0%;
}

/* Style for the game status */
#game-status {
    font-size: 18px;
    font-weight: bold;
    color: #6f0707;
    background-color: #ff5c5c;
}
